.landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background--);
        width: 1248px;
        height: 60vh;
        margin: auto;
        overflow: hidden;
        overflow-y: auto;

        .new_container{
                margin-bottom: 10px;

                .new {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 20px;
                        width:822px;
                        margin: 0px auto;
                
                        .Notice,
                        .News {
                                font-size: 16px;
                                
                                a {
                                        color: var(--black--);
                                }

                                h2 {
                                        margin: 0;
                                }
                                
                                ul {
                                        padding: 1px;
                                        list-style: none;
                                }
                        }
                }
        }
}

::-webkit-scrollbar {
        width: 5px;
}

::-webkit-scrollbar-track {
        background-color: transparent;
}

::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgb(214, 214, 214);
}

@media screen and (max-width: 1248px) {
        .landing {
                width: 100%;
        }
}