.card {
  display: inline-block;
  width: 269px;
  height: 269px;
  margin: 0px 5px;
  border: none;
  user-select: none;

  img {
    width: 269px;
    height: 269px;
  }
}

//모달창 내 닫기 버튼
.close_btn {
  position: absolute;
  top: -10px;
  left:0%;
  color: var(--true-white--);
  font-size: 35px;

  button {
    padding: 0px;
  }
}

@media screen and (max-width: 750px) {
  .card {
    width: 150px;
    height: 150px;

    img {
      width: 150px;
      height: 150px;
    }
  }
}

@media screen and (max-width: 350px) {
  .card {
    width: 90px;
    height: 90px;

    img {
      width: 90px;
      height: 90px;
    }
  }
}

// @media screen and (max-width: 767px) {
//   .card {
//   width:auto;
//   height:auto;
//   margin: 0px 5px;
//   overflow-y: hidden;

//   img {
//     width:auto;
//     height:auto;
//   }
//   }
// }