
.photo_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  margin: 0px 0px 70px 0px;

  .photos_area {
    width:880px;
  }
}


@media screen and (max-width: 750px) {
  .photo_page {
    .photos_area {
      width:518px;
    }
  }
}

@media screen and (max-width: 450px) {
  .photo_page {
    .photos_area {
      width:350px;
    }
  }
}

@media screen and (max-width: 350px) {
  .photo_page {
    .photos_area {
      width:245px;
    }
  }
}

