
.photo_page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:1100px;
  height:400px;
  max-width: 100%;
  // padding: 0 50px;
  margin: 20px 0px 70px 0px;
  // background-color: yellow;
  // overflow-x: auto;

  .photos_area {
    position: absolute;
    // background-color: pink;
    max-width:80%;
    // width:1100px;
    top: 130px;
  }
}

// @media screen and (max-width: 767px) {
//   .photo_page {
//     height: auto;
//     width: auto;

//     .photos_area {
//       position: static;
//       width: auto;
//       max-width: 100%;
      
//     }
//   }
// }


@media screen and (max-width: 750px) {
  .photo_page {
    height: auto;

    .photos_area {
      width:518px;
    }
  }
}

@media screen and (max-width: 450px) {
  .photo_page {
    .photos_area {
      width:350px;
    }
  }
}

@media screen and (max-width: 350px) {
  .photo_page {
    .photos_area {
      width:245px;
    }
  }
}

